      <Context docBase="AutoWEB" path="/AutoWEB" reloadable="true" source="org.eclipse.jst.jee.server:TirocinioWEB">
     <Resource auth="Container" driverClassName="com.mysql.jdbc.Driver" maxActive="100" maxIdle="30" maxWait="10000" 
     name="jdbc/auto" password="dan" type="javax.sql.DataSource" url="jdbc:mysql://localhost/auto?autoReconnect=true" username="root"/></Context>